@model Sk611715MIS4200.Models.ArtistAlbum

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArtistAlbum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Album.albumName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.albumName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artist.artistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist.artistName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.artistAlbumID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
