@model Sk611715MIS4200.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.albumName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.albumName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.releaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.releaseDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.albumID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
