@model IEnumerable<Sk611715MIS4200.Models.Artist>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.artistName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.artistAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.artistName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.artistAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.age)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.artistID }) |
            @Html.ActionLink("Details", "Details", new { id=item.artistID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.artistID })
        </td>
    </tr>
}

</table>
